<!-- <div class="loading-overlay">
    <div class="spinner"></div>
</div> -->

<div id={{searchFormId}} class="em-container em-row em-padding">
    Воспользуйтесь поиском для нахождения интересующих вас услуг.<br><br>
    <div>
        <label class="em-text-grey">{{searchInputLabel}}</label>
        <input placeholder={{searchPlaceholder}} id="searchString" class="em-input em-border" type="text">
        <div class="error-message em-text-red">Пожалуйста, уточните запрос с помощью формы поиска выше.</div>
    </div>
    <div class="em-left advanced-search-wrap">
        <div class="advanced-search">
            <div class="category-select em-border">
            	<div class="advanced-search-group" id="category-select">
                    <div class="select" id="catSelect">
                        <div class="select__label category-select__active" data-value="default">-- Не выбрано --</div>
                        <div class="select-list">
                            {{#each categories}}
                                <div data-value="{{@key}}" data-select="catSelect" data-group="category-select" class="select-list__item" onclick="EM.selects.changeCategory(this);">{{this.name}}</div>
                            {{/each}}
                        </div>
                    </div>
                    <div class="select" id="subcatSelect">
                        <div class="select__label category-select__active" data-value="default">-- Не выбрано --</div>
                        <div class="select-list"></div>
                    </div><br><br>
                    <div class="category-select__add em-button" onclick="EM.selects.categoryChoice();">Добавить</div>
                    <div class="select-choices"></div>
            	</div>
            </div>
            <!-- <div id="subcat" class="advanced-search-group advanced-search-group_subcat"></div> -->
            <div class="lpu-select em-border">
            	<div class="advanced-search-group" id="lpu-select">
                    <div class="select" id="lpuSelect">
                        <div class="select__label">Название учреждения</div>
                        <div class="select-list">
                            {{#each lpus}}
                                <div data-value="{{this.lpu}}" data-select="lpu-select" class="select-list__item" onclick="EM.selects.lpuChoice(this);">{{this.name}}</div>
                            {{/each}}
                        </div>
                    </div>
                    <div class="select-choices"></div>
        	    </div>
            </div>
        </div>
        <a class="em-button color-red" onclick="EM.ps.runSearch()">Поиск</a>
        <a class="em-button color-red" onclick="EM.ps.resetSearchForm()">Сбросить</a>
        <div class="spinner"></div>
    </div>
    <div class="ps-sorting em-row em-right">
        <div class="em-right ps-sorting-wrap">
            <div class="ps-sorting__title">Сортировать:</div>
            <div class="ps-sorting__item ps-button em-button" data-sort-field="service_name" onclick="EM.ps.sort(this);">Название услуги</div>
            <div class="ps-sorting__item ps-button em-button" data-sort-field="price" onclick="EM.ps.sort(this);">Цена</div>
            <!-- <div class="ps-sorting__item ps-button em-button" data-sort-field="lpu_ratio" onclick="EM.ps.sort(this);">Рейтинг учреждения</div> -->
            <!-- <div class="ps-sorting__item ps-button em-button" data-sort-field="category_name" onclick="EM.ps.sort(this);">Категория услуги</div> -->
        </div>
    </div>
</div>

<div id={{psContentId}} class="ps-content em-margin-top em-margin-bottom"></div>
