<div class="em-row">
	<div id="pagination-top" class="em-container pagination em-center em-white"></div>
	<div class="ps-items em-padding">
		{{#if services}}
			{{#each services}}
				<ul class="em-ul em-card-4 ps-content__item">
				  <li><strong>Услуга</strong>: {{this.service_name}}</li>
				  <li><strong>Цена</strong>: {{this.price}}</li>
				  <li><strong>Описание</strong>: {{this.description.preview}}
				  {{#if this.service_desc.shorted}}
				  	<br><div class="em-button color-red" data-desc={{this.description.id}} onclick="EM.ps.showService(this);">Читать подробнее</div>
				  {{/if}}
				  </li>
				  <li><strong>Учреждение</strong>: {{this.lpu_name}}</li>
				  <li><strong>Рейтинг учреждения</strong>: {{this.lpu_ratio}}</li>
				  <li><strong class="em-block em-margin-bottom">Адреса:</strong>
						{{#each this.lpu_addresses}}
							<div class="em-leftbar em-padding em-margin-bottom">{{this.name}}: {{this.address}}</div>
						{{/each}}
				  </li>
				</ul>
			{{/each}}
		{{else}}
			<p class="em-text-red services-not-found">По вашему запросу ничего не найдено</p>
		{{/if}}
	</div>
	<div id="pagination-bottom" class="em-container pagination em-center em-white"></div>
</div>
